<div class="box box-primary" ng-init="get()">
    <div class="box-header with-border">
        <h3 class="box-title">Edição</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="formEditNovela" ng-submit="editar(novela)">
        <div class="box-body">
            <input type="hidden" ng-model="novela.id" name="id" id="id">
            <div class="form-group">
                <label>Título</label>
                <input type="text" ng-model="novela.titulo" class="form-control" id="titulo" placeholder="Título">
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="url" class="form-control" ng-model="novela.rss" id="link" placeholder="http://www.site.com">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Imagem</label>
                <input type="file" id="exampleInputFile" ng-model="novela.imagem">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Ativada
                </label>
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>